# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.pot
*.pyc
.pytest_cache/

# Virtual environments
env/
venv/
.venv/

# Django
# *.sqlite3
# db.sqlite3
# media/
staticfiles/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Misc
*.bak
*.tmp
*.orig
*.log
.env
.env.*
!.env.example

# Frontend build
node_modules/
static/css/tailwind.audit.tmp.css

